# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Pytest
.pytest_cache/

# Logs
*.log

# Deliverables
deliverables/

# Custom profiles
my_custom_profile.yaml

# Profiling
*.prof
*.cprof

# Virtual environments
.venv*/
venv/
ENV/
env/

# Distribution / packaging
*.egg-info/
dist/
build/

# Compiled libraries
*.so
*.dll
*.exe